/* Colors */
$primary: #009688;
$default: rgb(198,245,0);
$sea: rgb(177,220,251);
$nav-trans: rgba($default,0.3);
$nav-menu: rgba($default, 0.9);
$menu-txt : black;
$footer: #131a22;
$ftr-txt: #ddd;
$icons: $default;
$overlay: rgb(0,0,0);

/* sa = rgb(38, 166, 154) */
/* ocean = rgb(177,220,251) */
/* official = rgb(198,245,0) */
