<nav class="navbar navbar-default navbar-fixed-top animated fadeInDown"
  style="background:rgba(0,0,0,0.4);color:white;border:none;border-radius:0;margin:0">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="col-md-3">
      <a class="navbar-brand text-white"  style="font-size:25px" href="/">AK Electronics</a>
    </div>
    <div class="col-md-9">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false" style="background:">
                Services
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu animated slideInRight">
              <% @appliances.each do |appliance| %>
              <li><a href="#" ><%= appliance.name %> Repair</a></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><a href="#">Applinces we serve</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              Brands<span class="caret"></span>
            </a>
            <ul class="dropdown-menu animated slideInRight">
              <% @brands.each do |brand| %>
              <li><a href="#" ><%= brand.name %></a></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><a href="#">Brands we serve</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              Locations<span class="caret"></span>
            </a>
            <ul class="dropdown-menu animated slideInLeft">
              <% @locations.each do |location| %>
              <li><a href="#" ><%= location.name %></a></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><a href="#">Locations we serve</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
